about-time==4.2.1
absl-py==2.0.0
accelerate==0.25.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
albumentations==1.3.1
alive-progress==3.1.4
altair==5.1.2
altgraph==0.17.3
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
avidtools==0.1.1.2
backcall==0.2.0
backoff==2.2.1
base2048==0.1.3
base58==2.1.1
basicsr==1.4.2
beautifulsoup4==4.12.2
bip-utils==2.8.0
bitarray==2.8.4
bleach==6.1.0
blessed==1.20.0
blinker==1.7.0
blis==0.7.11
bs4==0.0.1
cachetools==5.3.2
catalogue==2.0.10
cbor2==5.5.1
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chepy==5.1.0
click==8.1.7
cloudpathlib==0.16.0
cmd2==2.4.3
cohere==4.37
coincurve==18.0.0
colbert-ai==0.2.17
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
confection==0.1.4
contourpy==1.0.7
crccheck==1.3.0
crcmod==1.7
cryptography==42.0.0
customtkinter==5.1.3
cycler==0.11.0
cymem==2.0.8
Cython==3.0.5
cytoolz==0.12.2
darkdetect==0.8.0
dataclasses-json==0.6.3
datasets==2.15.0
DateTime==5.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
docstring-parser==0.15
dploy==0.1.2
dulwich==0.21.7
easydict==1.11
ecdsa==0.18.0
ed25519-blake2b==1.4
emoji==2.0.0
et-xmlfile==1.1.0
eth-abi==4.2.1
eth-account==0.10.0
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.5.2
eth-utils==2.3.1
exceptiongroup==1.2.0
executing==2.0.1
exrex==0.11.0
facexlib==0.3.0
faiss-cpu==1.7.4
fastapi==0.95.2
fastavro==1.9.1
fastjsonschema==2.19.1
ffmpy==0.3.1
filelock==3.13.1
filterpy==1.4.5
fire==0.4.0
Flask==3.0.1
flatbuffers==23.5.26
fonttools==4.39.3
frozenlist==1.4.0
fschat==0.2.33
fsspec==2023.10.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
garak==0.9.0.8
gast==0.4.0
gdown==4.7.1
gfpgan==1.3.8
git-dumper==1.0.6
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.41
google-api-core==2.15.0
google-api-python-client==2.110.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
gradio==3.47.1
gradio_client==0.6.0
grapheme==0.6.0
greenlet==3.0.1
grpcio==1.59.3
h11==0.14.0
h2==3.2.0
h5py==3.10.0
hexbytes==0.3.1
hexdump==3.3
holehe==1.61
hpack==3.0.0
hstspreload==2024.3.1
html2image==2.0.4.3
html5lib==1.1
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-cli==0.1
huggingface-hub==0.19.4
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
imageio==2.33.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
inquirer==3.1.4
insightface==0.7.3
instaloader==4.10.2
ipykernel==6.28.0
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
keras==2.13.1
kiwisolver==1.4.4
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langcodes==3.3.0
langsmith==0.0.83
lazy-import==0.2.2
lazy_loader==0.3
libclang==16.0.6
litellm==1.17.5
llama-index==0.9.39
llvmlite==0.41.1
lmdb==1.4.1
macholib==1.16.2
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.11
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.9
mistune==3.0.2
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nemollm==0.3.4
neotermcolor==2.0.10
nest-asyncio==1.5.8
networkx==3.2.1
nh3==0.2.15
ninja==1.11.1.1
nltk==3.8.1
numba==0.58.1
numpy==1.24.3
nvdlib==0.7.6
oauthlib==3.2.2
octoai-sdk==0.2.0
onnx==1.15.0
onnxruntime==1.15.0
onnxruntime-coreml==1.13.1
open-interpreter==0.2.0
openai==1.13.3
opencv-contrib-python==4.9.0.80
opencv-python==4.8.0.74
opencv-python-headless==4.8.1.78
opennsfw2==0.10.2
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.10
outcome==1.3.0.post0
packaging==23.1
pandas==2.0.1
pandocfilters==1.5.1
parsimonious==0.9.0
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
platformdirs==4.0.0
pluggy==1.3.0
posthog==3.3.1
preshed==3.0.9
prettytable==3.9.0
prompt-toolkit==3.0.36
protobuf==4.23.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-sr25519-bindings==0.2.0
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycipher==0.5.2
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.13
pydash==7.0.6
pydicom==2.4.3
pydub==0.25.1
Pygments==2.17.2
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyJWT==1.7.1
pyminizip==0.2.6
PyNaCl==1.5.0
pynetdicom==2.0.2
pyOpenSSL==24.0.0
pyparsing==3.0.9
pyperclip==1.8.2
PySocks==1.7.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.2
qudida==0.0.4
r2env==0.5.7
RAGatouille==0.0.5b1
rapidfuzz==3.5.2
readchar==4.0.5
realesrgan==0.3.0
referencing==0.31.0
regex==2023.10.3
replicate==0.21.1
requests==2.25.1
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.7.0
rlp==3.0.0
rpds-py==0.13.1
rsa==4.9
ruff==0.1.14
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.16.0
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
shortuuid==1.0.11
simplejson==3.17.6
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
srsly==2.4.8
stack-data==0.6.3
starlette==0.27.0
stdlibs==2023.11.2
svgwrite==1.4.3
sympy==1.12
tabula==1.0.5
tabula-py==2.7.0
tabulate==0.9.0
tb-nightly==2.16.0a20231125
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.2.0
tf-keras-nightly==2.16.0.dev2023112510
thinc==8.2.2
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktok-uploader==1.0.15
tiktoken==0.4.0
tinycss2==1.2.1
tk==0.1.0
tkinterdnd2==0.3.0
tokenizers==0.15.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.1
torchvision==0.16.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
transformers==4.37.1
trio==0.23.2
trio-websocket==0.11.1
typer==0.9.0
types-PyYAML==6.0.12.12
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
ujson==5.9.0
unimatrix==0.1.dev71+g65793c2
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.22.0
voyager==2.0.2
wasabi==1.1.2
wavedrom==2.0.3.post3
wcwidth==0.2.12
weasel==0.3.4
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.4.1
yapf==0.40.2
yarg==0.1.9
yarl==1.9.4
zipp==3.17.0
zope.interface==6.1
